openapi: 3.0.3
info:
  title: Al-Arabi Ticketing Platform API
  description: |
    Comprehensive API for the Al-Arabi Arabic-first ticketing platform.
    
    ## Features
    - **Multi-language Support**: Arabic and English content
    - **Authentication**: OTP-based phone authentication with JWT tokens
    - **Payment Gateways**: Multiple Arab and international payment providers
    - **Real-time Updates**: WebSocket connections for live data
    - **Geolocation**: PostGIS-powered location services
    - **Contract Management**: PDF generation and e-signature workflow
    
    ## Authentication
    Most endpoints require authentication via JWT tokens. Include the token in the Authorization header:
    ```
    Authorization: Bearer <your-jwt-token>
    ```
    
    ## Rate Limiting
    API calls are rate limited per user/IP. Current limits:
    - 100 requests per 15 minutes for authenticated users
    - 20 requests per 15 minutes for unauthenticated users
    
    ## Error Handling
    All errors follow the standard format:
    ```json
    {
      "success": false,
      "message": "Error message in English",
      "message_ar": "رسالة الخطأ بالعربية",
      "errors": [...] // Validation errors if applicable
    }
    ```
  version: 1.0.0
  contact:
    name: Al-Arabi API Support
    email: api-support@al-arabi.com
    url: https://docs.al-arabi.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://al-arabi.com/terms

servers:
  - url: https://api.al-arabi.com/v1
    description: Production server
  - url: https://staging-api.al-arabi.com/v1
    description: Staging server
  - url: http://localhost:3001/api/v1
    description: Development server

paths:
  # Authentication Endpoints
  /auth/generate-otp:
    post:
      tags: [Authentication]
      summary: Generate OTP for phone verification
      description: Sends a 6-digit OTP to the specified phone number for various purposes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, purpose]
              properties:
                phone:
                  type: string
                  pattern: '^\+[1-9]\d{1,14}$'
                  example: '+966501234567'
                  description: Phone number in international format
                purpose:
                  type: string
                  enum: [registration, login, password_reset, phone_verification]
                  example: registration
      responses:
        200:
          description: OTP sent successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        409:
          description: Phone number already registered (for registration purpose)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        429:
          $ref: '#/components/responses/RateLimit'

  /auth/register:
    post:
      tags: [Authentication]
      summary: Register new user
      description: Register a new user account with OTP verification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, otp, first_name, last_name]
              properties:
                phone:
                  type: string
                  pattern: '^\+[1-9]\d{1,14}$'
                  example: '+966501234567'
                otp:
                  type: string
                  pattern: '^\d{6}$'
                  example: '123456'
                first_name:
                  type: string
                  minLength: 2
                  maxLength: 50
                  example: 'أحمد'
                last_name:
                  type: string
                  minLength: 2
                  maxLength: 50
                  example: 'محمد'
                first_name_ar:
                  type: string
                  example: 'أحمد'
                last_name_ar:
                  type: string
                  example: 'محمد'
                email:
                  type: string
                  format: email
                  example: 'ahmed@example.com'
                password:
                  type: string
                  minLength: 8
                  example: 'SecurePass123!'
                preferred_language:
                  type: string
                  enum: [ar, en]
                  default: ar
      responses:
        201:
          description: User registered successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          user:
                            $ref: '#/components/schemas/User'
                          tokens:
                            $ref: '#/components/schemas/TokenPair'
        400:
          $ref: '#/components/responses/BadRequest'

  /auth/login:
    post:
      tags: [Authentication]
      summary: Login with OTP
      description: Authenticate user with phone number and OTP
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, otp]
              properties:
                phone:
                  type: string
                  pattern: '^\+[1-9]\d{1,14}$'
                  example: '+966501234567'
                otp:
                  type: string
                  pattern: '^\d{6}$'
                  example: '123456'
      responses:
        200:
          description: Login successful
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          user:
                            $ref: '#/components/schemas/User'
                          tokens:
                            $ref: '#/components/schemas/TokenPair'
        400:
          $ref: '#/components/responses/BadRequest'
        404:
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/refresh:
    post:
      tags: [Authentication]
      summary: Refresh access token
      description: Get a new access token using refresh token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token:
                  type: string
                  example: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...'
      responses:
        200:
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          access_token:
                            type: string
                            example: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...'
        401:
          $ref: '#/components/responses/Unauthorized'

  /auth/me:
    get:
      tags: [Authentication]
      summary: Get current user profile
      description: Retrieve the authenticated user's profile information
      security:
        - BearerAuth: []
      responses:
        200:
          description: User profile retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          user:
                            $ref: '#/components/schemas/User'
        401:
          $ref: '#/components/responses/Unauthorized'

  # Events Endpoints
  /events:
    get:
      tags: [Events]
      summary: List events
      description: Get a paginated list of events with filtering options
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: category
          in: query
          schema:
            type: string
            example: 'concerts'
        - name: city
          in: query
          schema:
            type: string
            example: 'Riyadh'
        - name: start_date_from
          in: query
          schema:
            type: string
            format: date-time
        - name: start_date_to
          in: query
          schema:
            type: string
            format: date-time
        - name: search
          in: query
          schema:
            type: string
            example: 'Concert'
        - name: latitude
          in: query
          schema:
            type: number
            format: float
        - name: longitude
          in: query
          schema:
            type: number
            format: float
        - name: radius
          in: query
          schema:
            type: number
            format: float
            description: Search radius in kilometers
      responses:
        200:
          description: Events retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          events:
                            type: array
                            items:
                              $ref: '#/components/schemas/Event'
                          pagination:
                            $ref: '#/components/schemas/Pagination'

    post:
      tags: [Events]
      summary: Create new event
      description: Create a new event (requires organizer role)
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEventRequest'
      responses:
        201:
          description: Event created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          event:
                            $ref: '#/components/schemas/Event'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'

  /events/{eventId}:
    get:
      tags: [Events]
      summary: Get event details
      description: Retrieve detailed information about a specific event
      parameters:
        - name: eventId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        200:
          description: Event details retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          event:
                            $ref: '#/components/schemas/EventDetail'
        404:
          $ref: '#/components/responses/NotFound'

  # Tickets Endpoints
  /events/{eventId}/tickets:
    get:
      tags: [Tickets]
      summary: Get event tickets
      description: Retrieve available tickets for an event
      parameters:
        - name: eventId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        200:
          description: Tickets retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          tickets:
                            type: array
                            items:
                              $ref: '#/components/schemas/Ticket'

  # Orders Endpoints
  /orders:
    post:
      tags: [Orders]
      summary: Create new order
      description: Create a new ticket order
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        201:
          description: Order created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          order:
                            $ref: '#/components/schemas/Order'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'

  # Payment Endpoints
  /payments/process:
    post:
      tags: [Payments]
      summary: Process payment
      description: Process payment for an order
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProcessPaymentRequest'
      responses:
        200:
          description: Payment processed successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaymentResult'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: 'Operation completed successfully'
        message_ar:
          type: string
          example: 'تمت العملية بنجاح'

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          example: 'An error occurred'
        message_ar:
          type: string
          example: 'حدث خطأ'
        errors:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        phone:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        first_name_ar:
          type: string
        last_name_ar:
          type: string
        preferred_language:
          type: string
          enum: [ar, en]
        profile_image_url:
          type: string
          format: uri
        is_verified:
          type: boolean
        role:
          type: string
          enum: [user, organizer, admin, super_admin]
        created_at:
          type: string
          format: date-time
        last_login_at:
          type: string
          format: date-time

    TokenPair:
      type: object
      properties:
        access_token:
          type: string
          example: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...'
        refresh_token:
          type: string
          example: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...'

    Event:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        title_ar:
          type: string
        description:
          type: string
        description_ar:
          type: string
        category:
          type: string
        venue:
          $ref: '#/components/schemas/Venue'
        organizer:
          $ref: '#/components/schemas/User'
        start_date:
          type: string
          format: date-time
        end_date:
          type: string
          format: date-time
        timezone:
          type: string
        status:
          type: string
          enum: [draft, published, cancelled, completed]
        images:
          type: array
          items:
            type: string
            format: uri
        tags:
          type: array
          items:
            type: string
        tags_ar:
          type: array
          items:
            type: string
        base_price:
          type: number
          format: float
        currency:
          type: string
        is_featured:
          type: boolean
        created_at:
          type: string
          format: date-time

    EventDetail:
      allOf:
        - $ref: '#/components/schemas/Event'
        - type: object
          properties:
            tickets:
              type: array
              items:
                $ref: '#/components/schemas/Ticket'
            terms_conditions:
              type: string
            terms_conditions_ar:
              type: string
            refund_policy:
              type: string
            refund_policy_ar:
              type: string

    Venue:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        name_ar:
          type: string
        description:
          type: string
        description_ar:
          type: string
        address:
          type: string
        address_ar:
          type: string
        city:
          type: string
        city_ar:
          type: string
        country:
          type: string
        country_ar:
          type: string
        latitude:
          type: number
          format: float
        longitude:
          type: number
          format: float
        capacity:
          type: integer
        amenities:
          type: object
        images:
          type: array
          items:
            type: string
            format: uri

    Ticket:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        name_ar:
          type: string
        description:
          type: string
        description_ar:
          type: string
        price:
          type: number
          format: float
        currency:
          type: string
        quantity_available:
          type: integer
        quantity_sold:
          type: integer
        sale_start_date:
          type: string
          format: date-time
        sale_end_date:
          type: string
          format: date-time
        ticket_type:
          type: string
        benefits:
          type: object
        restrictions:
          type: object
        is_transferable:
          type: boolean
        is_refundable:
          type: boolean
        max_per_order:
          type: integer

    Order:
      type: object
      properties:
        id:
          type: string
          format: uuid
        order_number:
          type: string
        user:
          $ref: '#/components/schemas/User'
        event:
          $ref: '#/components/schemas/Event'
        status:
          type: string
          enum: [pending, confirmed, cancelled, refunded]
        subtotal:
          type: number
          format: float
        tax_amount:
          type: number
          format: float
        service_fee:
          type: number
          format: float
        total_amount:
          type: number
          format: float
        currency:
          type: string
        payment_method:
          type: string
        payment_status:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time

    OrderItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        ticket:
          $ref: '#/components/schemas/Ticket'
        quantity:
          type: integer
        unit_price:
          type: number
          format: float
        total_price:
          type: number
          format: float

    CreateEventRequest:
      type: object
      required: [title, description, category, venue_id, start_date, end_date]
      properties:
        title:
          type: string
          minLength: 5
          maxLength: 255
        title_ar:
          type: string
          maxLength: 255
        description:
          type: string
          minLength: 20
        description_ar:
          type: string
        category:
          type: string
        venue_id:
          type: string
          format: uuid
        start_date:
          type: string
          format: date-time
        end_date:
          type: string
          format: date-time
        timezone:
          type: string
          default: 'Asia/Riyadh'
        max_attendees:
          type: integer
          minimum: 1
        min_age:
          type: integer
          minimum: 0
        images:
          type: array
          items:
            type: string
            format: uri
        tags:
          type: array
          items:
            type: string
        tags_ar:
          type: array
          items:
            type: string

    CreateOrderRequest:
      type: object
      required: [event_id, items, billing_info]
      properties:
        event_id:
          type: string
          format: uuid
        items:
          type: array
          items:
            type: object
            required: [ticket_id, quantity]
            properties:
              ticket_id:
                type: string
                format: uuid
              quantity:
                type: integer
                minimum: 1
        billing_info:
          type: object
          required: [name, email, phone]
          properties:
            name:
              type: string
            email:
              type: string
              format: email
            phone:
              type: string
            address:
              type: string

    ProcessPaymentRequest:
      type: object
      required: [order_id, payment_method, gateway]
      properties:
        order_id:
          type: string
          format: uuid
        payment_method:
          type: string
          enum: [card, bank_transfer, wallet, cash]
        gateway:
          type: string
          enum: [stripe, paypal, baridimob, stcpay, fawry, telr]
        payment_data:
          type: object
          description: Gateway-specific payment data

    PaymentResult:
      type: object
      properties:
        success:
          type: boolean
        transaction_id:
          type: string
        gateway_transaction_id:
          type: string
        status:
          type: string
          enum: [success, pending, failed]
        redirect_url:
          type: string
          format: uri
        message:
          type: string

    Pagination:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        pages:
          type: integer
        has_next:
          type: boolean
        has_prev:
          type: boolean

  responses:
    BadRequest:
      description: Bad request - Invalid input data
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Unauthorized:
      description: Unauthorized - Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Forbidden:
      description: Forbidden - Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    RateLimit:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

tags:
  - name: Authentication
    description: User authentication and authorization
  - name: Events
    description: Event management and discovery
  - name: Tickets
    description: Ticket types and availability
  - name: Orders
    description: Order creation and management
  - name: Payments
    description: Payment processing
  - name: Users
    description: User profile management
  - name: Venues
    description: Venue information
  - name: Contracts
    description: Contract management
  - name: Analytics
    description: Business analytics and reporting